.head-title{
  font-size: 28px;
  font-weight: bold;
}
.h4 {
  font-size: 20px;
  font-weight: bold;
}

.h5 {
  font-size: 16px;
  font-weight: bold;
}

row {
  margin:0;
  padding:0;
}

.notification {
  padding: 6px;
}

.ticket-row {
  padding: 12px;
}
.oauth-ticket {
}
.tel-ticket{
}
.smsto-ticket{
}
